assets/
.git/
sandbox/db_backups
.archive/db_backups
cvelist/
cve_db_*
frontend/env.local
backup_nc_*.json
db_backups/
collector/scraping/developing/*.csv
collector/scraping/developing/output*.json
collector/scraping/developing/archive/*.csv
jsoned_backup_*.json
assets/ignores/
db.json
private/
auto_pi_state.json
auto_pi.log
logfile.log
.env_template
README.md

